@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Roboto:wght@300&display=swap');

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    background:rgba(100, 100, 40,0.9);
}

.container{
  background-color: #e3e3e3;
}

.col h1{
    text-align: center;
}

.col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    border: 1px solid #9e9e9e;
    border-radius: 10px;
    width: 30%;
    padding: 0px 10px 30px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.meter{
    margin-top: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    font-weight: 600;
    width:fit-content;
    padding: 5px 12px 5px 12px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


.slidecontainer{
  width: 75%;
  margin-left: -120px;
}

.slider{
  width: 200%;  
}

@media only screen and (max-width: 600px){

  body{
    font-size: 80%;
  }
  .container{
    width:50%;
    
  }

  .slider{
    width: 100%;  
  }
  .slidecontainer{ margin-left: 0px;}
}